@import "../../styles/variables";

body{
  font-family: $font-system;
  background-color: $color-black;
  color: $color-light;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  .mid {
    border: $border;
    height: 670px;
    grid-area: mid;
    
    .overflow-x {
    overflow-x: auto;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  
  .tweet {
    border: $border-1px;
  }
  
  .user-pp {
    color: $color-light;
    background-color: transparent;
    border-style: none;
    font-size: 50px;
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .user {
    color: $color-light;
    background-color: transparent;
    border-style: none;
    font-size: 18px;
    position: relative;
    bottom: 22px;
    margin-left: 5px;
    cursor: pointer;
    
    &:hover {
      text-decoration: underline;
    }
  }
  
  .username-2 {
    color: $color-gray;
    background-color: transparent;
    border-style: none;
    font-size: 15px;
    position: relative;
    bottom: 23px;
    margin-left: -5px;
    cursor: pointer;
  }
  
  .time {
    color: $color-gray;
    float: right;
    position: relative;
    right: 320px;
    top: 12px;
  }
  
  .more {
    float: right;
    color: $color-light,;
    background-color: transparent;
    border-style: none;
    margin-top: 20px;
    margin-right: -5px;
    cursor: pointer;
  }
  
  .paragraph {
    margin-left: 80px;
    margin-top: -30px;
  }
  
  .bottom-option {
    color: $color-light;
    background-color: transparent;
    border-style: none;
    height: 60px;
    margin-left: 40px;
    margin-top: -20px;
  }
  
  .icons {
    color: $color-light;
    background-color: transparent;
    border-style: none;
    font-size: 15px;
    margin: 35px;
    cursor: pointer;
    
    &:hover {
      transition-duration: 0.2s;
      opacity: 0.5;
    }
  } 
  
  .picture {
    border-radius: 20px;
    width: 300px;
    margin-left: 150px;
    margin-top: 5px;
  }
  
  }
}