body {
background-color: black;
color: white;
margin: 0;
padding: 0;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.left-side{
border: 2px solid hwb(0 4% 95%);
padding: 0;
height: 99vh;
grid-area: left;
float: right;
width: 600px;
overflow: hidden; 
}

.top{
  grid-area: top;
  font-weight: bold;
}

.title{
  margin-left: 20px;
}

.homebar{
  background-color: #000000;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  min-height: 50px;
  padding: 9px 20px 8px;
  width: 298px;
  float: left;

}

.homebar:hover {
  color: rgb(255, 255, 255);
  background-color:  rgb(78, 68, 68);
  opacity: .50;
  transition-duration: 0.3s;
  cursor: pointer;
}

.comment{
  border: 2px solid hwb(0 4% 95%);
  grid-area: comment;
}

.mid{
  border: 2px solid hwb(0 4% 95%);
  grid-area: mid;
  height: 670px;
  overflow-y: scroll;
 
}

.right-side{
  border: 2px solid hwb(0 4% 95%);
  grid-area: right;
  float: left;
  width: 715px;
  overflow-y: scroll;
}

.con{
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh; 
}

.container{
  display: grid;
  grid-template-columns: 600px 600px 710px 710px;
  grid-template-rows: 110px 15px 130px 15px;
  grid-template-areas:
  "left top right"
  "left comment right"
  "left comment right"
  "left mid right"
  "left mid right"
  "left mid right";
}

.options{
  float: right;
  
  width: 280px;
  margin: 10px;
}

.twitter-icon{
  margin: 13px;
  padding: 0;
  font-size: 30px;
  line-height: unset;
  color: white;
  background-color:  black;
  border-style: none;
  box-sizing: border-box;
  margin-top: -7px;
  margin-bottom: 7px;
}

.icon{
  margin: 11px; 
  font-size: 20px;
  color: white;
  background-color:  transparent;
  border-style: none;
  box-sizing: border-box;
}

.icon:hover{
  color: white;
  background-color:  rgb(68, 61, 61);
  opacity: .50;
  border-radius: 30px;
  transition-duration: 0.3s;
  cursor: pointer;

}

.tw-button{
  color: white;
  background-color:  #1DA1F2;
  width: 250px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
}

.tw-button:hover{
  opacity: 1.20;
  color: white;
  background-color:  rgb(6, 110, 228);
  transition-duration: 0.3s;
  cursor: pointer;

}

.profile{
  float: right;
  margin-top: 190px;
}

.pp{
  width: 270px;
  float:right;
  height: 65px;
  color: white;
  background-color:  black;
  border-style: none;
}

.pp:hover{
  border-radius: 35px;
  opacity: .50;
  transition-duration: 0.1s;
  color: white;
  background-color:  rgb(20, 19, 19);
  cursor: pointer;

}

.pic{
  float: left;
  font-size: 30px;
  margin-top: 12px;
  padding: 5px;
}

.name{
  font-weight: bold;
  margin-top: 17px;
  margin-right: 160px;
  font-size: 14px;

}

.username{
text-align: center;  
color: gray;
margin-top: 3px;
margin-right: 130px;
font-size: 15px;
}

.pic2{
  float: right;
  font-size: 20px;
  margin-top: -12px;

}

.search{
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #14171A;
  border-radius: 24px;
  border: 1px solid #131516;
  width: 330px;
  margin-left: 30px;
  margin-top: 5px;
  height: 28px;
}

.search-icon {
  color: #657786;
  margin-right: 15px;
  margin-left: 10px;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  color: #14171a;
  font-size: 16px;
  
}

.trends{
  color: white;
  background-color: #14171A;
  width: 330px;
  height: 890px;
  margin-left: 35px;
  margin-top: 20px;
  border: 2px solid #14171A;
  border-radius: 15px;
}

.trend-title{
  font-weight: bold;
  font-size: 22px;
  margin-left: 15px;
  margin-top: 10px;
  height: 30px;
}

.trend-top{
  color: gray;
  margin-right: 200px;
  margin-top: 5px;
}

.trend-mid{
  margin-right: 225px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.trend-bottom{
  color: gray;
  margin-right: 228px;
  font-size: 13px;
}

.trend-button{
  display: block;
  color: white;
  background-color:  #14171A;
  border-style: none;
  height: 80px;
  width: 330px;
}

.trend-button:hover{
  opacity: .50;
  transition-duration: 0.3s;
  color: white;
  background-color:  rgb(20, 19, 19);
  cursor: pointer;

}

.bottom-bar{
  color: white;
  background-color:  #14171A;
  border-style: none;
  height: 50px;
  width: 330px;
  color: #1DA1F2;
  text-align: left;
  border-radius: 15px;
 }

 .bottom-bar:hover{
  opacity: .40;
  transition-duration: 0.3s;
  color: #1DA1F2;
  background-color:  rgb(20, 19, 19);
  cursor: pointer;


 }

 .symbol{
  float: right;
  margin-right: 5px;
  margin-top: -40px;
 }

 .follow{
  color: white;
  background-color: #14171A;
  width: 330px;
  height: 297px;
  margin-left: 35px;
  margin-top: 20px;
  border: 2px solid #14171A;
  border-radius: 15px;
 }

 .follow-list-title{
  font-weight: bold;
  font-size: 22px;
  margin-left: 15px;
  margin-top: 10px;
  height: 30px;
 }

 .follower-button{
  display: block;
  width: 330px;
  height: 70px;
  color: white;
  background-color:  #14171A;
  border-style: none;
 }

 .follower-button:hover{
  opacity: .50;
  transition-duration: 0.3s;
  color: white;
  background-color:  rgb(20, 19, 19);
  cursor: pointer;
 }

 .follow-button{
  color: black;
  background-color:  #ffff;
  border-style: none;
  border-radius: 24px;
  float: right;
  margin-top: -30px;
  font-size: 15px;
  width: 80px;
  height: 30px;
 }

 .follow-button:hover{
  opacity: .50;
  transition-duration: 0.3s;
  color: black;
  background-color:  #ffff;
  border-radius: 24px;
  cursor: pointer;
 }

 .profile-picture{
  margin-right: 260px;
  font-size: 45px;
}

.follower-name{
  margin-right: 150px;
  margin-top: -43px;
  font-weight: bold;
  font-size: 16px;
}

.follower{
  color: gray;
  margin-right: 130px;
 }

.right-bottom{
  font-size: 15px;
  color: rgb(100, 99, 99);
  width: 340px;
  height: 100px;
  margin-left: 40px;
  margin-top: 20px;
}

a {
  color: rgb(100, 99, 99);
  margin: 5px;
  height: 59px;
}

a:link{
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: gray;
  cursor: pointer;

}

.word{
  margin-top: 5px;
}

.box-pp{
  font-size: 50px;
  border-style: none;
  color: white;
  background-color:  transparent;
  margin-bottom: 30px;
  margin-left: 10px;
}

.placeholder{
  color: gray;
  background-color: transparent;
  border-style: none;
  width: 500px;
  height: 50px;
  font-size: 20px;
  padding: 10px;
  padding-left: 10px;
  padding-top: 20px;
}

.option{
  color: #1DA1F2;
  background-color:  transparent;
  border-style: none;
  margin-top: 17px;
  margin-left: 10px;
  cursor: pointer;
  margin: 10px;
}

.options-2{
  margin-left: 80px;
}

.push-button{
  color: #ffff;
  background-color:  #1DA1F2;
  border-style: none;
  border-radius: 24px;
  width: 70px;
  height: 35px;
  float: right;
  margin-right: 10px;
  margin-top: -30px;
}

.push-button:hover{
  opacity: .40;
  transition-duration: 0.2s;
  color: #ffff;
  background-color:  #009dff;
  cursor: pointer;
}

.tweet{
  border: 1px solid rgb(51, 48, 48);

}

.user-pp{
  font-size: 50px;
  margin-top: 5px;
  margin-left: 10px;
  border-style: none;
  color: white;
  background-color:  transparent;
  cursor: pointer;
}

.user{
  color: white;
  background-color:  transparent;
  border-style: none;
  cursor: pointer;
  font-size: 18px;
  margin-left: 5px;
  position: relative;
  bottom: 22px;
}

.user:hover{
  text-decoration: underline;
  
}

.username-2{
  color: gray;
  background-color:  transparent;
  border-style: none;
  cursor: pointer;
  font-size: 15px;
  position: relative;
  bottom: 23px;
  margin-left: -5px;
}

.time{
  color: gray;
  float: right;
  position: relative;
  right: 320px;
  top: 12px
}

.more{
  float: right;
  color: white;
  background-color:  transparent;
  border-style: none;
  cursor: pointer;
  margin-top: 20px;
  margin-right:-5px;
}

.paragraph{
  margin-left: 80px;
  margin-top: -30px;
}

.bottom-option{
  color: white;
  background-color:  transparent;
  border-style: none;
  margin-left: 40px;
  margin-top: -20px;
  height: 60px;
}

.icons{
  color: white;
  background-color:  transparent;
  border-style: none;
  cursor: pointer;
  margin: 35px;
  font-size: 15px;
}

.icons:hover{
  transition-duration: 0.2s;
  opacity: .50;
}

.picture{
  width: 300px;
  margin-left: 150px;
  margin-top: 5px;
  border-radius: 20px;
}