@import "../../styles/variables";

body{
  font-family: $font-system;
  background-color: $color-black;
  color: $color-light;
  margin: 0;
  padding: 0;
  box-sizing: border-box;


.con {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100vh;
    
  .right-side {
    border: 2px solid $border-color;
    grid-area: right;
    float: left;
    width: 715px;
    overflow-y: scroll;
  }

  .search {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: $twitter-gray;
    border-radius: 24px;
    border: $border;
    width: 330px;
    margin-left: 30px;
    margin-top: 5px;
    height: 45px;

    .search-icon {
      color: $color-gray;
      margin-right: 15px;
      margin-left: 10px;
    }
    
    .search-input {
      color: $twitter-gray;
      background-color: transparent;
      flex: 1;
      border: none;
      outline: none;
      font-size: 16px;
    }
  }
  
  
  .trends {
    color: $color-light;
    background-color: $twitter-gray;
    width: 335px;
    height: 890px;
    margin-left: 35px;
    margin-top: 20px;
    border: $border;
    border-radius: 15px;

    .trend-title {
      background-color: $twitter-gray;
      font-weight: bold;
      font-size: 22px;
      margin-left: 15px;
      margin-top: 10px;
      height: 30px;
    }
    
    .trend-top {
      background-color: transparent;
      color: $color-gray;
      margin-right: 200px;
      margin-top: 5px;
    }
    
    .trend-mid {
      background-color: transparent;
      margin-right: 225px;
      font-weight: bold;
      font-size: 15px;
      margin-top: 3px;
      margin-bottom: 3px;
    }
    
    .trend-bottom {
      background-color: transparent;
      color: $color-gray;
      margin-right: 228px;
      font-size: 13px;
    }
    
    .trend-button {
      display: block;
      color: $color-light;
      background-color: $twitter-gray;
      border-style: none;
      height: 80px;
      width: 330px;
      
      &:hover {
        opacity: 0.5;
        transition-duration: 0.3s;
        color: $color-light;
        background-color: $lighten;
        cursor: pointer;
      }
    }
    
    .symbol {
      float: right;
      margin-right: 8px;
      margin-top: -40px;
    }
  }
  
  
  .bottom-bar {
    color: $twitter-blue;
    background-color: $twitter-gray;
    text-align: left;
    width: 330px;
    height: 50px;
    border-style: none;
    border-radius: 15px;
    padding: 10px;
    
    &:hover {
      color: $twitter-blue;
      background-color: $lighten;
      transition-duration: 0.3s;
      cursor: pointer;
    }
  }
  
  .follow {
    color: $color-light;
    background-color: $twitter-gray;
    width: 335px;
    height: 305px;
    margin-left: 35px;
    margin-top: 20px;
    border: $border;
    border-radius: 15px;

    .follower-button {
      color: $color-light;
      background-color: $twitter-gray;
      border-style: none;
      display: block;
      width: 330px;
      height: 70px;
      
      &:hover {
        color: $color-light;
        background-color: $lighten;
        transition-duration: 0.3s;
        cursor: pointer;
      }
    }
    
    .follow-list-title {
      background-color: transparent;
      font-weight: bold;
      font-size: 22px;
      margin-left: 15px;
      margin-top: 10px;
      height: 30px;
    }
    .profile-picture {
      background-color: transparent;
      margin-right: 260px;
      font-size: 45px;
    }
    
    .follower-name {
      background-color: transparent;
      margin-right: 150px;
      margin-top: -43px;
      font-weight: bold;
      font-size: 16px;
    }
    
    .follower {
      background-color: transparent;
      color: $color-gray;
      margin-right: 130px;
    }
    .follow-button {
      color: $color-black;
      background-color: $color-light;
      border-style: none;
      border-radius: 24px;
      float: right;
      margin-right: 10px;
      margin-top: -30px;
      font-size: 15px;
      width: 80px;
      height: 30px;
      
      &:hover {
        background-color: lighten($color-darkgray, 10%);
        transition-duration: 0.3s;
        color: $color-black;
        border-radius: 24px;
        cursor: pointer;
      }
    }
  }
  
  .right-bottom {
    font-size: 15px;
    color:$color-darkgray;
    width: 340px;
    height: 100px;
    margin-left: 40px;
    margin-top: 20px;

    a {
      color: $color-gray;
      margin: 5px;
      height: 59px;
      
      &:link {
        text-decoration: none;
      }
      
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    
    .word {
      margin-top: 5px;
      color: $color-gray;
      
      }
    }
  }
}