@import "../../../styles/variables";

.title{
    font-size: 31px;;
    position: relative;
    left: 40px;
}

.forgot-link{
    font-size: 13px;
    text-decoration: none;
    color: $twitter-blue;
    position: relative;
    left: 40px;
    float:left;
}

.sign-up-links{
    color: $color-gray;
    position: relative;
    top: 290px;
    left: 50px;
    .link{
        text-decoration: none;
        color: $twitter-blue;
    }
}