// colors
$color-black: #000000;
$color-light: #fff;
$color-gray: #808080;
$color-darkgray: rgb(78, 68, 68);
$border-color: hwb(0 4% 95%);
$twitter-blue: #1da1f2;
$twitter-gray: #14171a;
$hover-color: rgb(20, 19, 19);
$hover-blue:  #009dff;
$text-box: rgb(233, 227, 227);
$lightgray: rgb(202, 192, 192);
$overlay: rgba(87, 87, 87, 0.377);


// border style
$border: 2px solid $border-color;
$border-1px: 1px solid rgb(51, 48, 48);
$border-classic: 1px solid #000000;

// font
$font-system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

//opacity
$darken: darken($color-darkgray, 20%);
$lighten: lighten($twitter-gray, 5%);
$twitter-back: lighten($hover-blue, 5%)