@import "../../styles/variables";

body{
  font-family: $font-system;
  background-color: $color-black;
  color: $color-light;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

.con {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100vh;

.left-side {
    border: $border;
    padding: 0;
    height: 99vh;
    grid-area: left;
    float: right;
    width: 600px;
    overflow: hidden;

  .options {
    float: right;
    width: 280px;
    margin: 10px;

    .twitter-icon {
      margin: 13px;
      padding: 0;
      font-size: 30px;
      line-height: unset;
      color: $color-light;
      background-color: $color-black;
      border-style: none;
      box-sizing: border-box;
      margin-top: -7px;
      margin-bottom: 7px;
    }
    
    .icon {
      margin: 11px;
      font-size: 20px;
      color: $color-light;
      background-color: transparent;
      border-style: none;
      box-sizing: border-box;
  
      &:hover {
        color: $color-light;
        background-color: $hover-color;
        opacity: 0.5;
        border-radius: 30px;
        transition-duration: 0.3s;
        cursor: pointer;
      }
    }
  }
  
  .tw-button {
    color: $color-light;
    background-color: $twitter-blue;
    width: 250px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 30px;

    &:hover {
      opacity: 1.2;
      color: $color-light;
      background-color: rgb(6, 110, 228);
      transition-duration: 0.3s;
      cursor: pointer;
    }
  }
  
  .profile {
    background-color: transparent;
    float: right;
    margin-top: 190px;

    .pp {
      width: 270px;
      float: right;
      height: 65px;
      color: $color-light;
      background-color: transparent;
      border-style: none;
  
      &:hover {
        border-radius: 35px;
        opacity: 0.5;
        transition-duration: 0.1s;
        color: $color-light;
        background-color: $hover-color;
        cursor: pointer;
      }
      
      .pic {
        background-color: transparent;
        float: left;
        font-size: 30px;
        margin-top: 8px;
        margin-left: 10px;
        padding: 5px;
      }
      
      .name {
        background-color: transparent;
        font-weight: bold;
        margin-top: 19px;
        margin-right: 160px;
        font-size: 14px;
      }
      .pic2 {
        background-color: transparent;
        float: right;
        font-size: 20px;
        margin-top: -20px;
        margin-right: 10px;
        }
      
      .username {
        background-color: transparent;
        text-align: center;
        color: $color-gray;
        margin-top: -3px;
        margin-right: 130px;
        font-size: 15px;
          }
        }
      }
    }
  }
}
